<div class="banner">
    <div class="banner-details">
        <h2>Estudiante de Ingeniería de Software</h2>
        <hr>
        <span>Yolee Benita Ccopa Ccana</span>
        <div class="sct-button">
            <a href="/skill" class="dark">Habilidades</a>
            <a href="/about-me">¿Quien soy?</a>
        </div>
    </div>
    <div class="banner-img">
        <img src="../../../assets/img/Tohu.png" alt="personal-icon">
    </div>
</div>

<div class="div-proyects">
    <h3>Proyectos Recientes</h3>

    <div class="proyect-cards">
        <div class="card">
            <div class="card-details">
                <i class="tabler--calendar-smile "></i>
                <div class="card-text">
                    <p class="card-title">Gytre (incompleto)</p>
                    <span>Aplicación centrada en la organización de rutinas.</span>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <a href="https://dev.azure.com/yccopac/Gytre">Visitar repositorio</a>
            </div>
        </div>

        <div class="card">
            <div class="card-details">
                <i class="tabler--test-pipe"></i>
                <div class="card-text">
                    <p class="card-title">KatteGat (incompleto)</p>
                    <span>Plataforma para registrar laboratorios y concertar citas con ellos.</span>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <a href="https://bitbucket.org/navilab/kattegat/src/master/">Visitar repositorio</a>
            </div>
        </div>

        <div class="card">
            <div class="card-details">
                <i class="tabler--album"></i>
                <div class="card-text">
                    <p class="card-title">Maskerade (incompleto)</p>
                    <span>Librería virtual con funciones de compra y recogida de libros.</span>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <a href="https://bitbucket.org/navilab/maskerade/src/master/">Visitar repositorio</a>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <h3>Medios de contacto</h3>
    <div class="card-container">
        <div class="contact-card">
            <i class="tabler--mail"></i>
            <span>{{email}}</span>
        </div>

        <div class="contact-card">
            <i class="tabler--brand-whatsapp"></i>
            <span>+506 7008 4214</span>
        </div>
    </div>
</div>