<section style="padding: 1.5rem;">
    <h2>Mis habilidades</h2>

    <div class="card-container">

        <div class="card">
            <h3>Lenguajes de programación</h3>
            <div class="levels two-row">
                <div class="level-details">
                    <p class="level-title">n (Nivel 2)</p>
                    <ul>
                        <li>Capaz de idear funciones/objetos reutilizables que resuelvan el problema general.</li>
                        <li>Capacidad para diseñar sistemas que abarquen múltiples tecnologías/plataformas.</li>
                        <li>El código está agrupado en regiones y bien comentado, con referencias a otros archivos fuente.</li>
                        <li>No hay funciones largas, comentarios que expliquen código inusual, correcciones de errores, suposiciones de código.</li>
                    </ul>
                    <div class="level-icons">
                        <i class="fa-brands--js-square"></i>
                        <i class="fa-brands--java"></i>
                    </div>
                </div>
                <div class="level-details">
                    <p class="level-title">n2 (Nivel 1)</p>
                    <ul>
                        <li>Capaz de dividir el problema en múltiples funciones.</li>
                        <li>Capaz de dividir el espacio del problema y diseñar la solución siempre que sea dentro de la misma plataforma/tecnología.
                        </li>
                        <li>Los métodos se agrupan lógicamente o por accesibilidad. Buenos nombres para archivos, variables, clases, métodos, etc.
                        </li>
                    </ul>
                    <div class="level-icons">
                        <i class="vscode-icons--file-type-cpp3"></i>
                        <i class="vscode-icons--file-type-csharp2"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Bases de datos</h3>
            <div class="levels">
                <div class="level-details">
                    <p class="level-title">n2 (Nivel 1)</p>
                    <ul>
                        <li>Conoce conceptos básicos de bases de datos, normalización, ACID, transacciones y puede escribir selecciones sencillas.</li>
                    </ul>
                    <div class="level-icons">
                        <i class="bxl--mongodb"></i>
                        <i class="devicon-plain--cosmosdb"></i>
                        <i class="simple-icons--mariadb"></i>
                        <i class="simple-icons--mamp"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>Herramientas de DevOps</h3>
            <div class="levels">
                <div class="level-details">
                    <p class="level-title">n (Nivel 2)</p>
                    <ul>
                        <li>Dominio de las funciones de CVS y SVN. Sabe cómo bifurcar y fusionar, utilizar parches, configurar las propiedades del repositorio, etc.</li>
                    </ul>
                    <div class="level-icons">
                        <i class="cib--azure-devops"></i>
                        <i class="teenyicons--bitbucket-solid"></i>
                        <i class="mdi--github"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h3>IDE y editores de texto</h3>
            <div class="levels two-row">
                <div class="level-details">
                    <p class="level-title">n2 (Nivel 1)</p>
                    <ul>
                        <li>Sabe cómo construir el sistema desde la línea de comandos. Conoce la interfaz y es capaz de utilizar eficazmente el IDE a través de los menús.</li>
                    </ul>
                    <div class="level-icons">
                        <i class="mdi--microsoft-visual-studio-code"></i>
                        <i class="devicon-plain--intellij"></i>
                    </div>
                </div>
                <div class="level-details">
                    <p class="level-title">2n (Nivel 0)</p>
                    <ul>
                        <li>Sólo sabe construir a partir del IDE. Utiliza principalmente IDE para la edición de texto</li>
                    </ul>
                    <div class="level-icons">
                        <i class="mdi--microsoft-visual-studio"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>