<div class="mission-card">
    <div class="card">
        <h3>Misión</h3>
        <div class="card-details">
            <p>Mi misión es mejorar la experiencia del usuario mediante aplicaciones que puedan ajustarse a las necesidades individuales, incluyendo compatibilidad con lectores de pantalla, atajos de teclado, paletas de colores variadas y compatibilidad
                multiplataforma.
            </p>
            <i class="tabler--target-arrow"></i>
        </div>
    </div>
    <div class="card">
        <h3>Visión</h3>
        <div class="card-details">
            <p>Mi visión es diseñar y desarrollar aplicaciones intuitivas, accesibles y ligeras que, además, sean estéticamente agradables y funcionen bien a largo plazo.
            </p>
            <i class="tabler--eye"></i>
        </div>
    </div>
</div>