<section style="padding: 1.5rem;">
    <h2>Mis proyectos</h2>

    <section class="sct-card">

        <div class="proyect-card">
            <div class="card-img">
                <i class="tabler--calendar-smile "></i>
            </div>
            <div class="card-cont">
                <h3>Gytre (incompleto)</h3>
                <p>
                    Gytre es una aplicación que busca facilitar a los usuarios organizar sus rutinas y filtrar sus actividades mediante la técnica de semáforo. La misma consiste en crear una rutina ideal, una rutina estándar y una rutina de bajo esfuerzo e irlas practicando
                    dependiendo del nivel de energía de la persona ese día.
                    <br><br> Desarrollado con Java, Spring Boot, JavaScript, JQuery y Cosmos DB.
                </p>
                <br>
                <a href="https://dev.azure.com/yccopac/Gytre">
                Repositorio: navilab / maskerade — Bitbucket
            </a>
            </div>
        </div>

        <div class="proyect-card">
            <div class="card-img">
                <i class="tabler--test-pipe"></i>
            </div>
            <div class="card-cont">
                <h3>KatteGat (incompleto)</h3>
                <p>
                    KatteGat es una aplicación que busca brindar una plantilla base para laboratorios y clínicas, la misma ofrece un sistema de solicitud de citas, resultados de exámenes e historial de registros.
                    <br><br> Desarrollado con JavaScript y MongoDB.
                </p>
                <br>
                <a href="https://bitbucket.org/navilab/kattegat/src/master/">
                Repositorio: navilab / maskerade — Bitbucket
            </a>
            </div>
        </div>

        <div class="proyect-card">
            <div class="card-img">
                <i class="tabler--album"></i>
            </div>
            <div class="card-cont">
                <h3>Maskerade (incompleto)</h3>
                <p>
                    Maskerade es una aplicación web centrada en facilitar la compra de libros para una biblioteca, desde solicitar colecciones hasta fijar puntos de retiro para los clientes.
                    <br><br> Desarrollado con JavaScript y MongoDB.
                </p>
                <br>
                <a href="https://bitbucket.org/navilab/maskerade/src/master/">
                Repositorio: navilab / maskerade — Bitbucket
            </a>
            </div>
        </div>

    </section>
</section>