.--body {
    margin-left: var(--sidebar-min-width);
}

.--body-trimmed {
    width: calc(100% - var(--sidebar-max-width));
    margin-left: var(--sidebar-max-width);
}

.--body-md-screen {
    width: calc(100% - var(--sidebar-min-width));
    margin-left: var(--sidebar-min-width);
}

main {
    position: relative;
    min-height: 100vh;
    margin-top: var(--header-height);
    width: 100%;
    padding: 1rem;
    transition: all 0.3s ease 0s;
}