footer {
    background-color: var(--color-dark-jungle-green);
    color: var(--color-old-gold);
    padding: 2rem 1rem;
    margin: 0 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}