<section class="--sidebar" id="sidebar" [ngClass]="isCollapsed ? '--extended-sidebar': ''">
    <div class="--user-profile">
        <div class="--user-avatar">
            <img src="../../../assets/img/Tohu.png" alt="silver moth ilustration">
        </div>
        <div class="--user-details" *ngIf="isCollapsed">
            <p id="user_name">Yolee B. Ccopa Cc.</p>
            <span id="user_role">portafolio</span>
        </div>
    </div>
    <nav class="--hide-scroll">
        <ul>
            <li *ngFor="let data of navData">
                <a href="index.html" [routerLink]="data.route">
                    <i [class]="data.icon"></i>
                    <span *ngIf="isCollapsed">{{data.label}}</span>
                </a>
            </li>
        </ul>
    </nav>
</section>