<section class="bio-container">
    <div class="bio-story">
        <h2>Biografia</h2>
        <div class="bio-cont">
            Crecí rodeada de tecnología, tenía un ordenador con Windows XP y un lector de CD que me encantaba usar. Poco a poco aprendí a leer y grabar CDs, a instalar programas de Internet como extensiones y drivers, a descargar películas de fuentes bastante dudosas...
            y mi descubrimiento favorito hasta la fecha, los emuladores.
            <br><br> A medida que iba conociendo mejor Internet, empecé a pensar más en cómo podía conseguir distintas aplicaciones. Desde ejecutables hasta configuraciones de consola, lo cual era un reto para mí, ya que tenía experiencia de poca a nula
            con la programación. Me hacía mucha ilusión empezar a aprender software porque siempre había querido crear mis propios juegos. Me hice con RPG Maker VX, Unity y empecé a aprender a hacer mods. Sin embargo, muchos de los proyectos se centraban
            más en ilustraciones o pequeñas historias escritas, lo cual era una pena ya que realmente quería crear algo más ambicioso.
            <br><br> Mi primer encuentro con la programación fue cuando inicié el bachillerato en Ingeniería de Software en la Universidad Cenfotec. Mientras estudiaba, me interesé mucho por el diseño y el desarrollo de aplicaciones web. Poco después
            me regalaron mi primer MacBook lo cual reinventó el cómo se desenvolvió con la tecnología. Empecé a trabajar con las limitaciones de no poder utilizar los programas en los que confiaba porque no eran compatibles o quedaron obsoletos. También
            empecé a apreciar las alternativas y la arquitectura de Mac.
            <br><br> A medida que investigaba más, establecí conexiones asombrosas entre los distintos temas que iba aprendiendo y el desarrollo de software. Esto me inspiró para investigar cómo afectan las aplicaciones a las personas, teniendo en cuenta
            los problemas de salud física y mental que pueden cambiar la forma en que las utilizamos. También quería encontrar formas de hacer que algunos de mis proyectos fueran más accesibles y que la experiencia general del usuario fuera mejor para
            todos.
            <br><br> Empecé a probar distintos atajos de teclado, sobre todo la tecla tab, lectores de pantalla, paletas de colores y cómo funcionan las aplicaciones en distintos entornos operativos. También investigue cómo afecta su arquitectura al rendimiento.
        </div>
    </div>

    <div class="bio-img">
        <img src="../../../assets/img/bg.jpg" alt="code-bg">
    </div>
</section>